body {
  text-align: center;
  background-color: rgb(7, 65, 65);
}
nav {
  padding: 2vw;
  margin: auto;
}
.b1 {
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  transition: 2s;
  background-color: white;
}

.b2 {
  background-color: rgb(7, 65, 65);
  border-radius: 10px;
  background-color: rgba(255, 127, 80, 0.342);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.432),
      rgba(0, 0, 0, 0.37)
    ),
    url("./images/bb.jpg");
  background-size: 100%;
  animation-name: bgimage;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  text-align: left;
  
}
nav a {
  float: left;
  padding: 15px;
  text-decoration: none;
  color: azure;
  border-radius: 12px;

  margin: 5px;
}
.bnn
{
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  float: right;
}

.bnn:hover
{
  background-color: rgb(6, 53, 53);
  color: white;
}
nav a:hover {
  background-color: rgba(4, 19, 19, 0.411);
}
.search {
  padding-top: 20px;
  padding-bottom: 10vw;
  text-align: center;
}

.search input
 {
  padding: 12px;
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.664);
 color: rgb(9, 53, 53);
}

.search button
{
  padding: 12px;
  border-radius: 20px;
  color: white;
 background-color: rgb(7, 65, 65);
}

.search button:hover
{
  padding: 12px;
  border-radius: 20px;
  color: rgb(7, 7, 7);
 background-color: rgb(85, 219, 219);
}
.search input {
  width: 30vw;
}
/* IMPORTANT PALCEHOLDER CSS*/
::placeholder {
  color: rgb(39, 122, 6);
}
.popular {
  display: block;
  width: 100%;
  text-align: left;
  margin: 2vw;
}
.popular h3 {
 color: rgb(10, 54, 54);
 font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
.popular ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: yellow;
  color: yellow;
  height: 10px;
}
.popular ::-webkit-scrollbar-track {
  width: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(7, 7, 5);
  height: 8px;
}
.courses {
  padding: 1vw;
  overflow: scroll;
  display: inline-flex;
  width: 85vw;
  margin-left: 0px;
  border-radius: 12px;
  
}
.course {
  width: 500px;

  padding: 1vw;
  margin: 1vw;
  color: black;
  font-weight: bolder;
 
  display: inline-block;
  border-radius: 6px;
  transition: 1s;
}

.course:hover {
  background-color: rgb(4, 39, 39);

}
.b12 {
  background-color: #e9e034;
  color: white;
 
 float: right;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 10px;
}

.b22 {
  background-color: #3473e9;
  color: white;
 
  float: right;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 10px;
}
.b3 {
  background-color: #626060;
  color: white;
 
  float: right;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 10px;
}

.b4 {
  background-color: #f8545b;
  color: white;
 
  float: right;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 10px;
}

.b5 {
  background-color: #8c238e;
 color: white;
 float: right;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 10px;
}

.b12:hover,
.b22:hover,
.b3:hover,
.b4:hover,
.b5:hover {
  background-color: rgb(248, 248, 248);
  color: black;
}
.course img {
  display: block;
  width: 18vw;
  height: 15vw;
  border-radius: 10px;
}

.partner {
  border-radius: 6px;
  display: inline-block;
  padding: 1vw;
  margin: 1px;
  width: 10vw;
}
.partner img {
  display: block;
  width: 8vw;
  height: 7vw;
}
.helpinstant {
  display: block;
  position: absolute;
  margin: 10px;
  right: 0px;
  top: 50%;
  transform: translate(0px, -50%);
  width: 5px;
  right: 20px;
  transition: 1s;
}
.helpbox {
  visibility: hidden;
  margin-left: -200px;
}
.helpbox button {
  width: 100px;
  background-color: blueviolet;
  border-radius: 6px;
  padding: 2px;
}
.helpbox input {
  background-color: blueviolet;
  border-radius: 6px;
  padding: 2px;
  width: 100px;
}
.helpbox ::placeholder {
  color: wheat;
}
.helpinstant .helptext {
  background-color: blueviolet;
  display: block;
  padding: 5px;
  color: azure;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  writing-mode: vertical-rl;
}
.helpinstant:hover {
  width: 150px;
  right: 0px;
  height: 180px;
  background-color: rgb(106, 133, 124);
  border-radius: 12px;
}
.helpinstant:hover .helpbox {
  visibility: visible;
  margin-left: 0px;
}
.helpinstant:hover .helptext {
  visibility: hidden;
}

.help {
  padding: 3vw;
  display: block;
  background-color: darkcyan;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.432),
      rgba(0, 0, 0, 0.37)
    ),
    url("./images/e1.jpg");
  background-size: 100%;
  animation-name: bgimagesize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: 10px;
  border-radius: 10px;
}
.help input,
.help textarea,
.help button {
  margin-left: 10vw;
  display: block;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.466);
}
.help textarea {
  border-radius: 12px;
  width: 50vw;
}
.help button {
  border-radius: 6px;
  padding: 5px;
}
.help input {
  padding: 5px;
  border-radius: 6px;
}
.help input:focus,
.help textarea:focus,
.help button :focus {
  background-color: rgba(0, 0, 0, 0.466);
  color: white;
}
.logolinks {
  height: 20px;
  width: 20px;
  margin: 15px 10px;
  border-radius: 100%;
  padding: 5px;
  
  
 align-items: center;
display: inline;
  transition-duration: 1.5s;

}
.logolinks:hover {
  background-color: aqua;
  color: black;
}
.cont123 {
  background-color: rgb(7, 65, 65);
  display: inline-block;
 margin: 10px;
  width: 85vw;
  padding: 40px;

  text-align: left;
  margin-top: 80px;
  margin-bottom: 50px;
  transition-duration: 1s;
  border-radius: 10px;
}

.cen
{
  align-items: center;
  text-align: center;
}

/* .cont123:hover {
 

} */

.h123vk {
  font-weight: bolder;
  display: block;
  color: azure;
  text-align: left;
  font-size: large;
}
.emailvk {
  color: azure;
  text-align: left;
  display: block;
  font-weight: bolder;
  font-size: large;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.h1
{
  display:block;
  color: brown;
 margin-top: 50px;
  margin-left: 30px;
  font-weight: bolder;
  
}

.h11
{
  display:block;
  color: rgb(34, 180, 180);
  margin-left: 30px;
  font-weight: bolder;


}

.course p{
  color: #626060;
  font-weight: normal;
}

.pp{
  color: black;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hs
{
  color: rgb(10, 54, 54);
  font-size: 30px;
   font-family: "Courier New", Courier, monospace;
}

.comp1
{
display: inline-block;
width: 25vw;
margin: 2vw;
color: slategrey;
vertical-align: top;

}

.comp2
{
  display: inline-block;
  width: 23vw;
  margin: 2vw;
  color: slategrey;

}

.comp3 {
  display: inline-block;
  width: 20vw;
  margin: 2vw;
  color: slategrey;
  vertical-align: top;
  text-align: left;
  
}

.lm{
  font-weight: bolder;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-bottom: 20px;

}

.hh{
  font-weight: bolder;
 color: gold;
  text-align: center;
  margin-bottom: 40px;


}
.cen img
{
  padding-right: 10px;
 

}

.btn3 {
  
  background-color: blue;
  border: 1px solid #fffefe;
  padding: 5px 18px;
  font-size: 20px;
  font-family: "montserrat";
  margin: 5px;
  display: block;
  color: rgb(254, 254, 255);
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



.off
{

  padding: 10px 15px;
  background-color: yellow;
  color: black;
}

.ani {
  color: rgb(248, 245, 245);
  background-color: rgba(255, 0, 0, 0.719);
  padding: 10px;
  border-radius: 6px;
  border-style: dotted;
  float: right;
  text-align: center;
}

.ani button {
  padding: 10px 15px;
  background-color: yellow;
  color: black;
  margin: auto;
}


.ani button:hover {
  padding: 10px 15px;
  background-color: rgb(22, 22, 7);
  color: rgb(255, 253, 253);
  margin: auto;
}


